/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif; 
}

.package-card{
    box-shadow: 5px 5px 20px #71a3eec4;
    border-radius: 10px;
}